@use '../../scss/docs';
@use '../../../src/elements/date-input';

$name: 'date-input';

@include docs.demo($name, 'default') {
  label:has(input[type="date"]) {
    @include date-input.styles;
  }
};

@include docs.demo($name, 'block') {
  label:has(input[type="date"]) {
    @include date-input.styles((
      axis: 'block',
    ));
  }
};

@include docs.demo($name, 'inline') {
  label:has(input[type="date"]) {
    @include date-input.styles((
      axis: 'inline',
    ));
  }
};
