@use 'sass:map';

@use '@carbon/styles/scss/components/tag/tokens' as tag-tokens;

@use '../../layout';

$default-config: (

);

@mixin styles($config: ()) {
  $props: map.deep-merge($default-config, $config);

  background-color: tag-tokens.$tag-background-green;
  color: tag-tokens.$tag-color-green;
  text-decoration: underline;
}
