@use '../../scss/docs';
@use '../../../src/elements/label';

$name: 'label';

@include docs.demo($name, 'default') {
  @include label.styles;
};

@include docs.demo($name, 'block') {
  @include label.styles((
    axis: 'block',
  ));
};

@include docs.demo($name, 'inline') {
  @include label.styles((
    axis: 'inline',
  ));
};
