@use 'sass:map';

@use '@carbon/styles/scss/theme';

@use '../label';
@use '../_input';

@use '../../layout';
@use '../../utilities/icons';

$default-config: (
  selector: 'label:has(input[list])',
  axis: 'block',
) !default;

@mixin styles($config: ()) {
  $props: map.deep-merge($default-config, $config);

  #{map.get($props, 'selector')} {
    @include label.styles((
      selector: '&',
      axis: map.get($props, 'axis'),
    ));

    position: relative;

    & input[list] {
      @include input.styles((
        emit-readonly: false,
      ));

      padding-inline-end: calc(layout.$density--padding + 1rem + layout.$density--padding);
      cursor: text;

      &:enabled:hover {
        background-color: theme.$field-hover;
      }

      &:enabled:active {
        background-color: theme.$layer-active;
      }
    }

    &::after {
      content: '';
      @include icons.chevron--down;
      position: absolute;
      inset-block-end: layout.$size--padding-block-end;
      inset-inline-end: layout.$density--padding;
      pointer-events: none;
    }

    &:has(input[list]:disabled)::after {
      color: theme.$text-disabled;
    }

    @if map.get($props, 'axis') == 'inline' {
      & input[list]:enabled,
      & input[list]:disabled {
        background-color: transparent;
        border-block-end: none;
      }
    }
  }
}
