@use 'sass:map';

@use '@carbon/styles/scss/spacing';

@use '../label';

@use '../../layout';

$config: () !default;

$-default-config: (
  selector: 'fieldset',
);

@mixin styles($config: $config) {
  $props: map.deep-merge($-default-config, $config);

  #{map.get($props, 'selector')} {
    border: none;
    padding: 0;
    margin-block: layout.$mode--margin-block;

    & legend {
      @include label.styles((
        selector: '&',
      ));
      padding: 0;
      margin-block-end: spacing.$spacing-03;
    }
  }
}
