@use './base';
@use './elements';
@use './environment';

@use '../../src' as carbon-html;

@use '../../src/layout';
@use '../../src/elements/header-navigation';
@use '../../src/elements/side-navigation';
@use '../../src/elements/preformatted';

@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/utilities/visually-hidden';

@each $theme in ('white', 'g10', 'g90', 'g100') {
  :root[data-cdsh-theme="#{$theme}"] {
    @include carbon-html.emit-carbon-tokens($theme);
  }
}

body > header {
  @include layout.size('lg');
  @include header-navigation.styles;
}

body > header + nav {
  @include layout.size('sm');
  @include side-navigation.styles;
  position: fixed;
  inset-inline-start: 0;
  inset-block-start: 3rem;
  inset-block-end: 0;
  overflow-y: auto;
}

main {
  position: fixed;
  inset-block-start: 3rem;
  inset-inline-start: calc(16rem + 0.0625rem);
  inset-block-end: 0;
  inset-inline-end: 0;
  margin: 0 !important;
  display: grid;
  grid-template-rows: 1fr 0 20rem;
}

#controls {
  inline-size: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: layout.$density--padding;
  padding-inline-end: layout.$density--padding;
}

#demo {
  @include layout.mode--body;
  overflow: auto;
  padding: 2rem;
  translate: 0 0;
  background-color: theme.$background;
}

#fade {
  block-size: 2.5rem;
  background-image: linear-gradient(
    transparent,
    theme.$layer-background,
  );
  opacity: 0.5;
  translate: 0 -100%;
}

#code {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  border-block-start: 0.0625rem solid theme.$border-subtle;
  background-color: theme.$layer;
  overflow: hidden;
}

#code::before,
#code::after {
  content: '';
  position: absolute;
  inset-inline: 0;
  block-size: 2.5rem;
  z-index: 1;
}

#code::before {
  inset-block-start: 0;
  background-image: linear-gradient(
    0deg,
    transparent,
    theme.$layer,
  );
}

#code::after {
  inset-block-end: 0;
  background-image: linear-gradient(
    transparent,
    theme.$layer,
  );
}

#code > div {
  position: relative;
}

#code pre {
  @include preformatted.styles;
  position: absolute;
  inset: 0;
  margin: 0;
  background-color: transparent;
}

#code > div:not(:first-child) {
  box-shadow: inset 0.0625rem 0 0 0 theme.$border-subtle;
}
