@use 'sass:map';

@use '../../layout';

$default-config: (
  selector: 'q',
) !default;

@mixin styles($config: ()) {
  $props: map.deep-merge($default-config, $config);

  #{map.get($props, 'selector')} {
    quotes: auto;
    font-style: italic;
  }
}
