@use '../../scss/docs';
@use '../../../src/elements/table';

$name: 'table';

@include docs.demo($name, 'default') {
  @include table.styles;
};

@include docs.demo($name, 'data-table') {
  @include table.styles((
    kind: 'data-table',
  ));
};

@include docs.demo($name, 'structured-list') {
  @include table.styles((
    kind: 'structured-list',
  ));
};

@include docs.demo($name, 'structured-list--flush') {
  @include table.styles((
    kind: 'structured-list--flush',
  ));
};
