@use '../../scss/docs';
@use '../../../src/elements/table';

$name: 'table';

@include docs.demo($name, 'default') {
  table {
    @include table.styles;
  }
};

@include docs.demo($name, 'data-table') {
  table {
    @include table.styles((
      kind: 'data-table',
    ));
  }
};

@include docs.demo($name, 'structured-list') {
  table {
    @include table.styles((
      kind: 'structured-list',
    ));
  }
};
