@mixin -icon($size: 1rem) {
  @if ($size != null) {
    block-size: $size;
    inline-size: $size;
  }

  background-color: currentColor;
}
@mixin arrow--right($args...) {
  @include -icon($args...);
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path d='M18 6 16.57 7.393 24.15 15 4 15 4 17 24.15 17 16.57 24.573 18 26 28 16 18 6z'/></svg>");
}

@mixin checkmark($args...) {
  @include -icon($args...);
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path d='M13 24 4 15 5.414 13.586 13 21.171 26.586 7.586 28 9 13 24z'/></svg>");
}

@mixin chevron--down($args...) {
  @include -icon($args...);
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path d='M16 22 6 12 7.4 10.6 16 19.2 24.6 10.6 26 12z'/></svg>");
}

@mixin checkbox($args...) {
  @include -icon($args...);
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path d='M26,4H6A2,2,0,0,0,4,6V26a2,2,0,0,0,2,2H26a2,2,0,0,0,2-2V6A2,2,0,0,0,26,4ZM6,26V6H26V26Z'/></svg>");
}

@mixin checkbox--checked--filled($args...) {
  @include -icon($args...);
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path d='M26,4H6A2,2,0,0,0,4,6V26a2,2,0,0,0,2,2H26a2,2,0,0,0,2-2V6A2,2,0,0,0,26,4ZM14,21.5,9,16.5427,10.5908,15,14,18.3456,21.4087,11l1.5918,1.5772Z'/><path fill='none' d='M14,21.5,9,16.5427,10.5908,15,14,18.3456,21.4087,11l1.5918,1.5772Z' data-icon-path='inner-path'/></svg>");
}

@mixin checkbox--indeterminate--filled($args...) {
  @include -icon($args...);
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path d='M26,4H6A2,2,0,0,0,4,6V26a2,2,0,0,0,2,2H26a2,2,0,0,0,2-2V6A2,2,0,0,0,26,4ZM22,18H10V14H22Z'/><path fill='none' d='M22,18H10V14H22Z' data-icon-path='inner-path'/></svg>");
}
