@use 'sass:map';

@use '../label';
@use '../input';

@use '../../layout';

$default-config: (

);

@mixin styles($config: ()) {
  $props: map.deep-merge($default-config, $config);

  @include label.styles;

  & textarea {
    @include input.styles;
    padding-inline: layout.$density--padding;
    padding-block-start: layout.$size--padding-block-start;
    padding-block-end: layout.$size--padding-block-end;
    min-block-size: calc(layout.$size--padding-block-start + 2lh + layout.$size--padding-block-end);
    box-sizing: border-box;
  }
}
