@use 'sass:map';

@use '@carbon/styles/scss/theme';

@use '../../layout';

$default-config: (
  selector: 'pre',
) !default;

@mixin styles($config: ()) {
  $props: map.deep-merge($default-config, $config);

  #{map.get($props, 'selector')} {
    @include layout.mode--code;
    white-space: pre;
    margin-block: layout.$mode--margin-block;
    padding: layout.$density--padding;
    background-color: theme.$layer;
    inline-size: 100%;
    overflow-x: auto;
    box-sizing: border-box;
  }
}
