@use 'sass:map';

@use '../../layout';

$config: () !default;

$-default-config: (
  selector: 'em, i',
);

@mixin styles($config: $config) {
  $props: map.deep-merge($-default-config, $config);

  #{map.get($props, 'selector')} {
    font-style: italic;
  }
}
