@use '../../scss/docs';
@use '../../../src/elements/search-input';

$name: 'search-input';

@include docs.demo($name, 'default') {
  @include search-input.styles;
};

@include docs.demo($name, 'block') {
  @include search-input.styles((
    axis: 'block',
  ));
};

@include docs.demo($name, 'inline') {
  @include search-input.styles((
    axis: 'inline',
  ));
};
