@use 'sass:map';

@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/utilities/focus-outline';

@use '../../layout';

$default-config: (

);

@mixin styles($config: ()) {
  $props: map.deep-merge($default-config, $config);

  padding-block: spacing.$spacing-05;
  inline-size: 16rem;
  background-color: theme.$layer-background;
  border-inline-end: 0.0625rem solid theme.$border-subtle;

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & li > button[aria-expanded],
  & li > a {
    @include layout.mode--heading;
    appearance: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    display: flex;
    inline-size: 100%;
    text-align: start;
    align-items: center;
    box-sizing: border-box;
    color: theme.$text-secondary;
    background-color: transparent;
    text-decoration: none;
    block-size: layout.$size--block-size;
    padding-inline: spacing.$spacing-05;
    cursor: pointer;

    &:hover {
      background-color: theme.$layer-hover;
      color: theme.$text-primary;
    }

    &:active {
      background-color: theme.$layer-active;
    }

    &:focus {
      @include focus-outline.focus-outline('outline');
    }
  }

  & li > button[aria-expanded] + ul a {
    @include layout.mode--body;
    padding-inline-start: calc(spacing.$spacing-05 * 2);
  }

  & li > button[aria-expanded="false"]:has(+ ul a[aria-current="page"]),
  & li > a[aria-current="page"] {
    background-color: theme.$layer-selected;
    box-shadow: inset 0.25rem 0 0 0 theme.$border-interactive;
    color: theme.$text-primary;

    &:hover {
      background-color: theme.$layer-selected-hover;
    }
  }

  & li > button[aria-expanded="false"] + ul {
    display: none;
  }
}
