@use 'sass:map';

@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/spacing';

@use '../../layout';

$config: () !default;

$-default-config: (
  selector: 'label',
  axis: 'block',
);

@mixin styles($config: $config) {
  $props: map.deep-merge($-default-config, $config);

  #{map.get($props, 'selector')} {
    display: flex;
    gap: spacing.$spacing-03;
    color: theme.$text-secondary;

    &:has([disabled]) {
      color: theme.$text-disabled;
    }

    @if map.get($props, 'axis') == 'block' {
      @include layout.mode--label;
      flex-direction: column;
    }

    @if map.get($props, 'axis') == 'inline' {
      @include layout.mode--body-compact;
      flex-direction: row;
      align-items: center;
      inline-size: fit-content;
    }
  }
}
