@use 'sass:map';

@use '../../layout';

$config: () !default;

$-default-config: (
  selector: 'ul',
);

@mixin styles($config: $config) {
  $props: map.deep-merge($-default-config, $config);

  #{map.get($props, 'selector')} {
    list-style-type: '—';
    padding: 0;

    & li {
      max-inline-size: layout.$mode--max-inline-size;
      margin-inline-start: layout.$density--padding;
      padding-inline-start: layout.$density--padding;
    }

    & li p {
      margin-block: 0;
    }
  }
}
