@use '../../scss/docs';
@use '../../../src/elements/number-input';

$name: 'number-input';

@include docs.demo($name, 'default') {
  @include number-input.styles;
};

@include docs.demo($name, 'block') {
  @include number-input.styles((
    axis: 'block',
  ));
};

@include docs.demo($name, 'inline') {
  @include number-input.styles((
    axis: 'inline',
  ));
};
