@use 'sass:map';

@use '../../layout';

$default-config: (
  selector: 'strong, b',
) !default;

@mixin styles($config: ()) {
  $props: map.deep-merge($default-config, $config);

  #{map.get($props, 'selector')} {
    font-weight: 600;
  }
}
