@use 'sass:map';

@use '../label';
@use '../_input';

@use '../../layout';

$config: () !default;

$-default-config: (
  selector: 'label:has(input[type="text"])',
  axis: 'block',
);

@mixin styles($config: $config) {
  $props: map.deep-merge($-default-config, $config);

  #{map.get($props, 'selector')} {
    @include label.styles((
      selector: '&',
      axis: map.get($props, 'axis'),
    ));

    & input[type="text"] {
      @include input.styles;
    }
  }
}
