@use '../../scss/docs';
@use '../../../src/elements/combo-box';

$name: 'combo-box';

@include docs.demo($name, 'default') {
  @include combo-box.styles;
};

@include docs.demo($name, 'block') {
  @include combo-box.styles((
    axis: 'block',
  ));
};

@include docs.demo($name, 'inline') {
  @include combo-box.styles((
    axis: 'inline',
  ));
};
