@use 'sass:map';

@use '../../layout';

$default-config: (

);

@mixin styles($config: ()) {
  $props: map.deep-merge($default-config, $config);

  @include layout.mode--body;
  max-inline-size: layout.$mode--max-inline-size;
  margin-block: layout.$mode--margin-block;
  text-wrap: pretty;
}
