@use 'sass:map';

@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/utilities/focus-outline';
@use '@carbon/styles/scss/components/button/tokens' as carbon-button;

@use '../button';

@use '../../layout';

$default-config: (

);

@mixin styles($config: ()) {
  $props: map.deep-merge($default-config, $config);

  @include layout.mode--heading-compact;
  display: flex;
  flex-direction: column;
  row-gap: spacing.$spacing-03;

  & input[type="file"]:focus {
    outline: none;
    box-shadow: none;
  }

  & input[type="file"]:focus::file-selector-button {
    outline: 0.125rem solid theme.$focus;
    outline-offset: -0.125rem;
    box-shadow: inset 0 0 0 0.1875rem theme.$layer-background;
  }

  & input[type="file"]::file-selector-button {
    @include button.styles((
      kind: 'primary',
    ));

    &:hover {
      background-color: carbon-button.$button-primary-hover;
    }

    &:active {
      background-color: carbon-button.$button-primary-active;
    }
  }

  &:has([disabled]) {
    color: theme.$text-disabled;
  }

  & input[type="file"]:disabled::file-selector-button,
  & input[type="file"]:disabled::file-selector-button:hover,
  & input[type="file"]:disabled::file-selector-button:active {
    cursor: not-allowed;
    background-color: carbon-button.$button-disabled;
    color: theme.$text-on-color-disabled;
  }
}
