@use 'sass:map';

@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/components/tag/tokens' as tag-tokens;

@use '../../layout';

$config: () !default;

$-default-config: (
  selector: 'mark',
);

@mixin styles($config: $config) {
  $props: map.deep-merge($-default-config, $config);

  #{map.get($props, 'selector')} {
    padding-inline: spacing.$spacing-01;
    background-color: tag-tokens.$tag-background-gray;
    color: tag-tokens.$tag-color-gray;
  }
}
