@use 'sass:map';

@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/motion';
@use '@carbon/styles/scss/utilities/custom-property';

@use '../utilities/tokens';

$-modes: (
  'productive': (
    body: (
      name: 'body-01',
      style: map.merge(type.$body-01, (
        font-family: type.font-family('sans'),
      )),
    ),
    body-compact: (
      name: 'body-compact-01',
      style: map.merge(type.$body-01, (
        font-family: type.font-family('sans'),
      )),
    ),
    heading: (
      name: 'heading-01',
      style: map.merge(type.$heading-01, (
        font-family: type.font-family('sans'),
      )),
    ),
    heading-compact: (
      name: 'heading-compact-01',
      style: map.merge(type.$heading-01, (
        font-family: type.font-family('sans'),
      )),
    ),
    label: (
      name: 'label-01',
      style: map.merge(type.$body-01, (
        font-family: type.font-family('sans'),
      )),
    ),
    helper-text: (
      name: 'helper-text-01',
      style: map.merge(type.$body-01, (
        font-family: type.font-family('sans'),
      )),
    ),
    code: (
      name: 'code-01',
      style: map.merge(type.$code-01, (
        font-family: type.font-family('mono'),
      )),
    ),
  ),
  'expressive': (
    body: (
      name: 'body-02',
      style: map.merge(type.$body-01, (
        font-family: type.font-family('sans'),
      )),
    ),
    body-compact: (
      name: 'body-compact-02',
      style: map.merge(type.$body-01, (
        font-family: type.font-family('sans'),
      )),
    ),
    heading: (
      name: 'heading-02',
      style: map.merge(type.$heading-01, (
        font-family: type.font-family('sans'),
      )),
    ),
    heading-compact: (
      name: 'heading-compact-02',
      style: map.merge(type.$heading-01, (
        font-family: type.font-family('sans'),
      )),
    ),
    label: (
      name: 'label-02',
      style: map.merge(type.$body-01, (
        font-family: type.font-family('sans'),
      )),
    ),
    helper-text: (
      name: 'helper-text-02',
      style: map.merge(type.$body-01, (
        font-family: type.font-family('sans'),
      )),
    ),
    code: (
      name: 'code-02',
      style: map.merge(type.$code-02, (
        font-family: type.font-family('mono'),
      )),
    ),
  ),
);

$-default-mode: 'productive';

$-properties: (
  'font-family',
  'font-size',
  'font-weight',
  'line-height',
  'letter-spacing',
);

@mixin mode($mode: $-default-mode) {
  @each $type-style, $mapped-type-style in map.get($-modes, $mode) {
    $name: map.get($mapped-type-style, 'name');
    $style: map.get($mapped-type-style, 'style');

    @each $property in $-properties {
      @include tokens.set(
        'mode--#{$type-style}-#{$property}',
        custom-property.get-var(
          '#{$name}-#{$property}',
          map.get($style, $property),
        ),
      );
    }
  }

  @if ($mode == 'productive') {
    @include tokens.set('mode--margin-block', spacing.$spacing-05);
    @include tokens.set('mode--transition-duration', motion.$duration-fast-02);
    @include tokens.set('mode--transition-timing-function', motion.motion('standard', 'productive'));
  } @else if ($mode == 'expressive') {
    @include tokens.set('mode--margin-block', spacing.$spacing-07);
    @include tokens.set('mode--transition-duration', motion.$duration-moderate-01);
    @include tokens.set('mode--transition-timing-function', motion.motion('standard', 'expressive'));
  }
}

@mixin -type-style($name) {
  @each $property in $-properties {
    #{$property}: tokens.get('mode--#{$name}-#{$property}');
  }
}

@mixin mode--body {
  @include -type-style('body');
}

@mixin mode--body-compact {
  @include -type-style('body-compact');
}

@mixin mode--heading {
  @include -type-style('heading');
}

@mixin mode--heading-compact {
  @include -type-style('heading-compact');
}

@mixin mode--label {
  @include -type-style('label');
}

@mixin mode--helper-text {
  @include -type-style('helper-text');
}

@mixin mode--code {
  @include -type-style('code');
}

$mode--margin-block: tokens.get('mode--margin-block', spacing.$spacing-05);
$mode--transition-duration: tokens.get('mode--transition-duration', motion.$duration-fast-02);
$mode--transition-timing-function: tokens.get('mode--transition-timing-function', motion.motion('standard', 'productive'));
